
body{
    background-color:#3a6b94;
    font-family: "DotGothic16", sans-serif;
}

.buttons {
    display:flex;
    justify-content: center;
    gap:150px;
    margin-top: 40px;
    padding-left: 20px;
}

.reset{
    display:flex;
    justify-content: center;
    padding-top: 50px;
}
button{
    color: #f9faf8;
    background:  #181a1d;
    font-weight:bold;
    padding: 8px 35px 8px 35px; 
    border-radius:10px;
    border-width: 3px;
    border-color: #edeef0;
}

.scoreBoard{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 100px;
    font-size: 40px;
    gap:20px;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 60px;
}

#result{
    font-weight: 100;
    font-size: 30px;
}

.choiceContainer{
    display:flex;
    justify-content:center;
    gap: 100px;
    font-size: 30px;
    font-weight: 900;
}



.footer{
    display:flex;
    justify-content:center;
    margin-top: 100px;
    font-size: larger;
    font-weight:bold;
}